{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Storage Pool Uploads" %}{% endblock %}
{% block style %}
    <link href="{% static "css/table-sort.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main col-xs-12 col-sm-9">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.name.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <table class="table table-hover" role="main">
            <tbody id="upload-table-body">
                <!-- add new ongoing uploads here with JS -->
            </tbody>
        </table>
    </div>

    <!-- Modal Upload -->
    <div class="modal fade" id="ImageUpload" tabindex="-1" role="dialog" aria-labelledby="ImageUploadLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Upload Disk Image" %}</h4>
                </div>
                <form class="form-horizontal" enctype="multipart/form-data" method="post" role="form" id="id_image_upload_form">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{% trans "Name" %}</label>

                        <div class="col-sm-6">
                            <input type="file" name="file" id="id_file">
                        </div>
                        <input type="hidden" name="storage" id="id_storage" aria-hidden="true">
                        <input type="hidden" name="host_id" id="id_host" aria-hidden="true">
                        <input type="hidden" name="pool_used" id="id_pool_used" aria-hidden="true">
                        <input type="hidden" name="pool_size" id="id_pool_size" aria-hidden="true">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary" name="image_upload">{% trans "Upload" %}</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script>
        window.uploadTasks = [];
        
        function updateWindowTotal()
        {
            var totalBytesSent = 0;
            var totalBytesToSend = 0;
            window.uploadTasks.forEach(function (item)
            {
                totalBytesSent = totalBytesSent + item.bytes_uploaded;
                totalBytesToSend = totalBytesToSend + item.bytes_total;
            });
            if (totalBytesToSend != 0)
            {
                document.title = Math.round(totalBytesSent/totalBytesToSend * 100).toString() + '% - {% trans "Storage Pool Uploads" %}';
            }
            else
            {
                document.title = '{% trans "Storage Pool Uploads" %}';
            }
        }
        
        var UploadTask = function (host_id, storage, xhr, bytes_total, filename)
        {
            this.progressbar = document.createElement('progress');
            this.progressbar.value = 0;
            this.progressbar.max = bytes_total;
            
            this.percentDiv = document.createElement('div');
            this.destDiv = document.createElement('div');
            this.destDiv.innerHTML = host_id + '/' + storage + '/' + filename;
            this.statusDiv = document.createElement('div');
            this.uploadTaskRow = document.createElement('div');
            this.uploadTaskRow.appendChild(this.progressbar);
            this.uploadTaskRow.appendChild(this.percentDiv);
            this.uploadTaskRow.appendChild(this.destDiv);
            
            this.bytes_uploaded = 0;
            this.bytes_total = bytes_total;
            this.host_id = host_id;
            this.storage = storage;
            this.filename = filename;
            this.request = xhr;
        }
            
        UploadTask.prototype.updateProgress = function (e)
        {
            this.bytes_total = e.total;
            this.bytes_uploaded = e.loaded;
            this.progressbar.value = e.loaded;
            this.progressbar.max = e.total;
            this.percentDiv.innerHTML = Math.round(e.loaded / this.bytes_total * 100).toString() + "%";
            updateWindowTotal();
        };
            
        // Populate and show upload form
        function newUpload(uploadObject)
        {
            $('#id_storage').val(uploadObject['storage']);
            $('#id_host').val(uploadObject['host_id']);
            $('#id_pool_size').val(uploadObject['bytes_total']);
            $('#id_pool_used').val(uploadObject['bytes_used']);
            $('#ImageUpload').modal('show');
            
        }
        
        // On a signal from another window show new upload form
        $(window).on('message', function (event) {
            newUpload(event.originalEvent.data);
        });
        
        // On first window open, try to retrieve info and populate + show form
        $(document).ready(function (event) {
            if (window.opener && window.opener.uploadObject)
            {
                newUpload(window.opener.uploadObject);
            }
        });
        
        $('#id_image_upload_form').on('submit', function(event) {
            var storage = $('#id_storage').val();
            var host = $('#id_host').val();
            var file = $('#id_file')[0].files[0];
            var filename = file.name;
            var filesize = file.size;
            
            var xhr = new XMLHttpRequest();
            var formData = new FormData($('#id_image_upload_form')[0]);
            
            var task = new UploadTask(host, storage, xhr, filesize, filename);
            
            var tr = document.createElement('tr');
            var td = document.createElement('td');
            $('#upload-table-body')[0].appendChild(tr);
            tr.appendChild(td);
            td.appendChild(task['uploadTaskRow']);
            
            window.uploadTasks.push(task);
            
            xhr.upload.addEventListener('progress', function (e) {task.updateProgress.call(task, e)});
            xhr.open('POST', "{% url 'storage' 0 'a' %}".slice(0, -4) + host + "/" +  storage + "/");
            xhr.send(formData);
            
            $('#ImageUpload').modal('hide');
            
            // Don't post the normal form
            return false;
        });
    </script>
    <script src="{% static "js/jquery.tablesorter.js" %}"></script>
    <script>
        $(function() {
            $("#sortTable").tablesorter({
                ignoreCase: true,
                sortList: [[0,0]],
                headers: {4: {sorter: false}},
                textSorter: {1: $.tablesorter.sortText}
            });
        });
    </script>
{% endblock %}
